<div>
    <img src="/coffee_beans.jpg" alt="Coffee bean grinding" class="center" width="1000" height="500"/>
</div>

<div class="intro">
  <h1>What is your coffee personality?</h1>

  <div class="intro-h1">
    <h3>Discover your coffee personality and what that means about your perfect cup.</h3>
    <p>See how your preferred brewing method, favorite dessert, cafe order, and palate factor into your coffee personality.</p>
  </div>

  <a class="button" href="/page_1">Take the Quiz</a>
</div>


