<div>
    <img src="/coffee_beans2.jpg" alt="Coffee bean grinding" class="center" width="1000" height="500"/>
</div>

<div class="intro">
  <h1>What coffee should I have?</h1>

  <div class="intro-h1">
    <h3>Discover the best choice of coffee anywhere, anytime.</h3>
    <p>See how time of day, location and mood all factor into the perfect coffee match.</p>
  </div>

  <a class="button" href="/weather">Take the Quiz</a>
</div>


