<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Coffee-match Quiz</title>
    <link rel="stylesheet" type="text/css" href="/coffee_match.css" />
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>