<div class="intro">
  <h2><%= @question %></h2>
    <div class="btn-container">
      <% @choices.each do |choice| %>
        <form action="<%= @current_path %>/<%= choice.downcase %>" method="post">
          <button class="quiz-button" name="choice"><%= choice %></button>
        </form>
      <% end %>
    </div>
</div>