@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

html, body {
  font-family: 'Kiwi Maru';
  margin-top: 1rem;
  background-color: #FDF8F5;
}

.center {
  font-size: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  display: table;
  top: 0;
  text-align: center;
}

h1 {
  color: #266150;
/*  text-transform: uppercase;*/
  font-size: 3.5rem;
  margin: 0;
}

h2 {
  color: #4F4846;
/*  text-transform: uppercase;*/
  font-size: 2.5rem;
  margin-top: 4rem;
}

.intro-h1 {
  font-weight: 700;
  color: #4F4846;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.button {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #266150;
  border: 1px blue;
  padding: 0.25rem 0.5rem;
  background-color: #DDAF94;
  border-radius: 5px;
  opacity: 0.85;
  display: inline;
}

.button:hover {
  border-color: black;
}

.button:active {
  color: darkred;
  font-weight: bold;
}

.quiz-button {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #266150;
  border: 1px solid oldlace;
  padding: 0.25rem 0.5rem;
  background-color: #DDAF94;
  border-radius: 5px;
  opacity: 0.85;
  display: inline;
  width:120px;
  height:50px;
  text-align:center;
/*  line-height:1.1em;*/
}

.quiz-button:hover {
  border-color: black;
}

.quiz-button:active {
  font-weight: bold;
}

.btn-container {
  width: 300px;
  margin: auto;
  margin-top: 8rem;
}