@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

html, body {
  font-family: 'Kiwi Maru';
  margin-top: 1rem;
  background-color: #FDF8F5;
}

.center {
  font-size: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro {
  height: 100%;
  width: 100%;
  margin-top: 1rem;
  display: table;
  top: 0;
  text-align: center;
}

h1 {
  color: #266150;
  font-size: 3.5rem;
  margin: 0;
}

.intro-h1 {
  font-weight: 700;
  color: #4F4846;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.complete-h1 {
  color: #266150;
  font-size: 3.5rem;
  margin-top: 4rem;
}

h2 {
  color: #4F4846;
  font-size: 2.5rem;
  margin-top: 4rem;
}

.button {
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #266150;
  border: 1px blue;
  padding: 0.25rem 0.5rem;
  background-color: #DDAF94;
  border-radius: 5px;
  opacity: 0.85;
  display: inline;
}

.button:hover {
  color: darkred
}

.quiz-button {
  width:250px;
  height:75px;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #266150;
  outline: none;
  border: 2px solid oldlace;
  background-color: #DDAF94;
  opacity: 0.85;
  display: inline;
}

.quiz-button:hover {
  font-weight: bold;
}

.quiz-button:active {
  border-color: #4F4846;
}

.btn-container {
  width: 300px;
  margin: auto;
  margin-top: 8rem;
}

.img-complete {
  width: 800px;
  height: 600px;
  object-fit: cover;
  margin-top: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}